/*
 * @Author: mianfengchen 
 * @Date: 2017-08-25 13:41:52 
 * @Last Modified by: mianfengchen
 * @Last Modified time: 2017-09-01 11:48:38
 */
 
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
ul , li {
    list-style:none;
}
a {
    font:inherit;
    color:inherit;
}
input,button {
    border:none;
    outline:none;
    font:inherit;
    color:inherit;
}


.red {
    color:red;
}